<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{topbar.genres}">n/a</title>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link th:href="@{/spring-frontend/favicon.ico}" rel="shortcut icon">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=52263780">
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=52263780">
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=52263780">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script defer src="/assets/js/scripts.min.js?v=52263780"></script>
    <script defer src="/assets/js/local.js"></script>
</head>
<body class="Site">
<header th:replace="~{fragments/header_fragment :: headFragment}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <h1 class="Middle-title" th:text="#{topbar.genres}">n/a
            </h1>
            <div class="Section">
                <div class="Tags Tags_genres">
                    <div class="Tags Tags_embed">
                        <!--  Star "Entertainment Literature" genre -->
                        <div class="Tags-title">
                            <div class="Tag">
                                <a th:href="@{/genres/{id}(id=${genres.get(0).id})}"
                                   th:text="${genres.get(0).name} + ' ' + ${genres.get(0).countOfBook}">n/a
                                </a>
                            </div>
                        </div>
                        <div class="Tag"
                             th:each="subGenre : ${genres.get(0).subGenres}"
                             th:if="${#lists.isEmpty(subGenre.subGenres)}">
                            <a th:href="@{/genres/{id}(id=${subGenre.id})}"
                               th:text="${subGenre.name} + ' ' + ${subGenre.countOfBook}">
                            </a>
                        </div>
                        <div class="Tags"
                             th:each="subGenre : ${genres.get(0).subGenres}"
                             th:if="${subGenre.subGenres.size()>0}">
                            <div class="Tags-title">
                                <div class="Tag">
                                    <a th:href="@{/genres/{id}(id=${subGenre.id})}"
                                       th:text="${subGenre.name} + ' ' + ${subGenre.countOfBook}"></a>
                                </div>
                            </div>
                            <div class="Tag"
                                 th:each="subGenreLevel1 : ${subGenre.subGenres}">
                                <a th:href="@{/genres/{id}(id=${subGenreLevel1.id})}"
                                   th:text="${subGenreLevel1.name} + '  '+${subGenreLevel1.countOfBook}"></a>
                            </div>
                        </div>
                        <!-- End "Easy reading" genre -->
                        <!-- Start "Serious Reading" genre -->
                        <div class="Tags-title">
                            <div class="Tag">
                                <a th:href="@{/genres/{id}(id=${genres.get(1).id})}"
                                   th:text="${genres.get(1).name}+ ' ' + ${genres.get(1).countOfBook}">n/a
                                </a>
                            </div>
                        </div>
                        <div class="Tag" th:each="subGenre : ${genres.get(1).subGenres}">
                            <a th:href="@{/genres/{id}(id=${subGenre.id})}"
                               th:text="${subGenre.name} + ' ' + ${subGenre.countOfBook}">
                            </a>
                        </div>
                        <!-- End "Serious reading" genre -->
                        <!-- Start "Business literature Reading" genre -->
                        <div class="Tags-title">
                            <div class="Tag">
                                <a th:href="@{/genres/{id}(id=${genres.get(2).id})}"
                                   th:text="${genres.get(2).name} + ' ' + ${genres.get(2).countOfBook}">n/a
                                </a>
                            </div>
                        </div>
                        <div class="Tags"
                             th:each="subGenre : ${genres.get(2).subGenres}"
                             th:if="${subGenre.subGenres.size()>0}">
                            <div class="Tags-title">
                                <div class="Tag">
                                    <a th:href="@{/genres/{id}(id=${subGenre.id})}"
                                       th:text="${subGenre.name} + ' ' + ${subGenre.countOfBook}"></a>
                                </div>
                            </div>
                            <div class="Tag"
                                 th:each="subGenreLevel1 : ${subGenre.subGenres}">
                                <a th:href="@{/genres/{id}(id=${subGenreLevel1.id})}"
                                   th:text="${subGenreLevel1.name} + '  '+ ${subGenreLevel1.countOfBook}"></a>
                            </div>
                        </div>
                        <!-- End "Business literature reading" genre -->
                        <!-- Start "Dramaturgy literature Reading" genre -->
                        <div class="Tags-title">
                            <div class="Tag">
                                <a th:href="@{/genres/{id}(id=${genres.get(3).id})}"
                                   th:text="${genres.get(3).name} + '  '+ ${genres.get(3).countOfBook}">n/a
                                </a>
                            </div>
                        </div>
                        <div class="Tags"
                             th:each="subGenre : ${genres.get(3).subGenres}"
                             th:if="${subGenre.subGenres.size()>0}">
                            <div class="Tags-title">
                                <div class="Tag">
                                    <a th:href="@{/genres/{id}(id=${subGenre.id})}"
                                       th:text="${subGenre.name} + ' ' + ${subGenre.countOfBook}"></a>
                                </div>
                            </div>
                            <div class="Tag"
                                 th:each="subGenreLevel1 : ${subGenre.subGenres}">
                                <a th:href="@{/genres/{id}(id=${subGenreLevel1.id})}"
                                   th:text="${subGenreLevel1.name} + '  '+${subGenreLevel1.countOfBook}"></a>
                            </div>
                        </div>
                        <!-- End "Dramaturgy literature reading" genre -->
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer th:replace="~{fragments/footer_fragment :: footFragment}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>