<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{topbar.admin}">n/a</title>
    <meta name="description" content="Описание страницы"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <link th:href="@{/spring-frontend/favicon.ico}" rel="shortcut icon"/>
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous"/>
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous"/>
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous"/>
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=45744385"/>
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=45744385"/>
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=45744385"/>
    <link rel="stylesheet" href="/assets/css/jquery.css"/>
    <script src="/assets/js/scripts.min.js?v=45744385"></script>
</head>
<body class="Site">
<header th:replace="~{fragments/header_admin_fragment :: headFragment}"></header>

<div class="Middle">
    <div class="Middle-top">
        <div class="wrap">
            <h1 class="Middle-title"
                th:text="#{topbar.admin}">n/a
            </h1>
        </div>
    </div>
    <div class="wrap">
        <main class="Middle-main">

            <!-- Form to create bookToUser entity (made book paid, archived, etc.) - start -->
            <div class="Tabs-block">
                <div class="Profile">
                    <form class="form Profile-form" id="createBookToUserForm">
                        <div class="row">
                            <div class="row-block">
                                <div class="form-group form-group_row">
                                    <input class="form-input" id="username" name="username" type="text"
                                           th:placeholder="#{admin.bookshelf.user.name}"/>
                                    <input class="form-input" id="bookSlug" name="bookSlug" type="text"
                                           th:placeholder="#{admin.bookshelf.book.slug}"/>
                                    <select class="form-input" id="bookStatus" name="bookStatus">
                                        <option value="PAID">PAID</option>
                                        <option value="KEPT">KEPT</option>
                                        <option value="CART">CART</option>
                                        <option value="ARCHIVED">ARCHIVED</option>
                                        <option value="VIEWED">VIEWED</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="Admin-btn">
                                <button class="btn btn_admin" type="button" id="createBookToUserSubmit"
                                        th:text="#{admin.bookshelf.create}">n/a
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Form to create bookToUser entity - end -->

            <!-- Form for moderate Bookshelf - start -->
            <div class="Tabs-block">
                <!-- Before editing bookshelf, you should upload the data using User ID -->
                <!-- Form to upload data - start -->
                <div class="Profile">
                    <form class="form Profile-form" id="uploadUserBooksData">
                        <div class="row">
                            <div class="row-block">
                                <div class="form-group">
                                    <label class="form-label" for="userId"
                                           th:text="#{admin.review.user.id}">n/a
                                    </label>
                                    <input class="form-input" id="userId" name="userId" type="text"
                                           th:placeholder="#{admin.bookshelf.user.id.upload}"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="Admin-btn">
                                <button class="btn btn_admin" type="button" id="uploadUserBooksDataSubmit"
                                        th:text="#{admin.review.submit}">n/a
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Form to upload data - end -->
            </div>
            <!-- Form for moderate Review - end -->
        </main>
    </div>
</div>
<footer th:replace="~{fragments/footer_fragment :: footFragment}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
<script src="/assets/plg/jQuery/jquery.validate.js"></script>
<script src="/assets/js/changeprofile.js"></script>
<script src="/assets/js/admin.js"></script>
<script src="/assets/js/local.js"></script>
</body>
</html>