<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{profile.name}">n/a</title>
    <meta name="description" content="Описание страницы"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <link th:href="@{/spring-frontend/favicon.ico}" rel="shortcut icon"/>
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous"/>
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous"/>
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous"/>
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=45744385"/>
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=45744385"/>
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=45744385"/>
    <link rel="stylesheet" href="/assets/css/jquery.css"/>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="/assets/js/scripts.min.js?v=45744385"></script>
    <script src="/assets/js/local.js"></script>
</head>
<body class="Site">
<header th:replace="~{fragments/header_fragment :: headFragment}"></header>
<div class="Middle">
    <div class="Middle-top">
        <div class="wrap">
            <h1 class="Middle-title"
                th:text="#{profile.my}">n/a
            </h1>
        </div>
    </div>
    <div class="wrap">
        <main class="Middle-main">
            <h2 class="Middle-title"
                th:text="#{profile.my}">n/a
            </h2>
            <div class="Tabs Tabs_default">
                <div class="Tabs-links">
                    <a class="Tabs-link Tabs-link_ACTIVE" id="basic_button" href="#"
                       th:text="#{profile.basic}">n/a
                    </a>
                    <a class="Tabs-link" id="transactions_button" href="#"
                       th:text="#{profile.transaction}">n/a
                    </a>
                    <a class="Tabs-link" id="topup_button" href="#"
                       th:text="#{profile.account}">n/a
                    </a>
                </div>
                <div class="Tabs-wrap">
                    <div class="Tabs-block" style="visibility:visible">
                        <div class="Profile">
                            <form class="form Profile-form" id="profileForm"
                                  action="/profile" method="post">
                                <div class="row">
                                    <div class="row-block">
                                        <div class="form-group">
                                            <label class="form-label" for="name">Имя
                                            </label>
                                            <input class="form-input" id="name" name="name" type="text"
                                                   th:value="${currentUser.name}"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="mail">E-mail
                                            </label>
                                            <input class="form-input" id="mail" name="mail" type="text"
                                                   th:value="${currentUser.email}"
                                                   value="addr@sait.com" data-validate="require mail"/>
                                            <div class="Profile-btn Profile-btn_confirm">
                                                <button class="btn btn_primary" type="button">Подтвердить
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="phone">Телефон
                                            </label>
                                            <input class="form-input" id="phone" name="phone" type="text"
                                                   th:value="${currentUser.phone}" value="+70000000000"
                                                   data-mask="+7 (999) 999-99-99" data-validate="require"/>
                                            <div class="Profile-btn Profile-btn_confirm">
                                                <button class="btn btn_primary" type="button">Подтвердить
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="password"
                                                   th:text="#{profile.password}">n/a
                                            </label>
                                            <input class="form-input" id="password" name="password" type="password"
                                                   th:placeholder="#{profile.password.new}"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="passwordReply"
                                                   th:text="#{profile.password.confirm}">n/a
                                            </label>
                                            <input class="form-input" id="passwordReply" name="passwordReply"
                                                   type="password"
                                                   th:placeholder="#{profile.password.repeat}"/>
                                        </div>
                                        <div class="form-group">
                                            <div class="Profile-btn">
                                                <button class="btn btn_danger" type="button" id="passwordClear"
                                                        th:text="#{profile.password.cancel}">n/a
                                                </button>
                                                <button class="btn btn_primary" type="submit" id="profileSubmit"
                                                        style="margin-right: auto"
                                                        th:text="#{profile.password.save}">n/a
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="Tabs-block" style="display: none">
                        <div class="Transactions">
                            <div class="tableWrap">
                                <table class="table table_noMargin">
                                    <thead>
                                    <tr>
                                        <th th:text="#{profile.transaction.date}">n/a
                                        </th>
                                        <th th:text="#{profile.transaction.amount}">n/a
                                        </th>
                                        <th th:text="#{profile.transaction.info}">n/a
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>15 мая 2017 10:03
                                        </td>
                                        <td><span class="Transactions_textSuccess">
                            <strong>+500 р.
                            </strong></span>
                                        </td>
                                        <td>Пополнение счета
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5 марта 2017 13:40
                                        </td>
                                        <td><span class="Transactions_textSuccess">
                            <strong>-480 р.
                            </strong></span>
                                        </td>
                                        <td>Покупка книги&#32;<a href="/books/slug.html">История Беларуси</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1 февраля 2017 04:10
                                        </td>
                                        <td><span class="Transactions_textSuccess">
                            <strong>+10 000 р.
                            </strong></span>
                                        </td>
                                        <td>Пополнение с помощью WebMoney
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1 января 2017 09:33
                                        </td>
                                        <td><span class="Transactions_textSuccess">
                            <strong>+7 896 р.
                            </strong></span>
                                        </td>
                                        <td>Пополнение с помощью Яндекс.Деньги
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="Transactions-footer Transactions-footer_center">
                                <a class="btn btn_primary Transactions-get" href="#"
                                   data-transactionoffset="4" data-transactionlimit="10" data-transactionsort="asc"
                                   th:text="#{search.more}">n/a</a>
                            </div>
                        </div>
                    </div>
                    <div class="Tabs-block" style="display: none">
                        <form class="form Topup" id="topUpForm" action="#" method="post" data-sendHash="34534535">
                            <div class="Topup-wrap">
                                <strong class="Topup-title"
                                        th:text="#{profile.transaction.replenish}">n/a
                                </strong>
                                <div class="form-group form-group_row Topup-group">
                                    <input class="form-input" id="sum" name="sum" type="text"/>
                                    <span>₽</span>
                                </div>
                                <div class="form-group">
                                    <div class="Topup-btn">
                                        <button class="btn btn_primary" id="topUpSubmit"
                                                th:text="#{profile.account}">n/a
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer th:replace="~{fragments/footer_fragment :: footFragment}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
<script src="/assets/plg/jQuery/jquery.validate.js"></script>
<script src="/assets/js/changeprofile.js"></script>
</body>
</html>